grammar Utility
  rule space
    [ \t]+
  end

  rule word
    [a-zA-Z_]+
  end

  rule string
    '"' character* '"'
  end

  rule character
    [^"]
  end

  rule number
    integer / float
  end

  rule integer
    [0-9]+ !'.'
  end

  rule float
    [0-9]+ '.' [0-9]+
  end
end
